# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
.env

# IDEs
.vscode/
.idea/
*.code-workspace

# Data
*.hdf5
*.csv

# Build artifacts
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
